.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  overflow-x: hidden;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.item {
  overflow: hidden;
  list-style: none;
  background-color: #ffffff;
  margin: 10px;
  width: 250px;
  border-radius: 8px;
}

/* .item .detail img {
  border-radius: 8px 8px 0px 0px;
} */

.item .detail > div {
  margin: 5px 5px 0px 5px;
  font-size: 12px;
}

.item .detail > div:last-child {
  margin-bottom: 5px;
}

.item .detail .title {
  /* 文本显示两行 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.coupon, .coupon .left, .coupon .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coupon {
  width: 70px;
  position: relative;
  background: radial-gradient(circle at right, transparent 3px, #f76260 0) top
      left / 40% 100% no-repeat,
    top right / 60% 100% no-repeat #ffffff;
  font-size: 12px;
}

.coupon .left {
  width: 40%;
  color: #ffffff;
}

.coupon .right {
  width: 60%;
}

.coupon, .price, .tag, .commission {
  color: #f76260;
}

.coupon, .tag {
  border: 1px solid #f76260;
  border-radius: 3px;
}

.tag {
  padding: 0px 5px;
  margin: 0px 5px;
  font-size: 12px;
}

.price {
  align-items: baseline;
}

.new-price {
  display: inline;
  font-size: 16px;
  /* font-family: ; */
  margin: 0px 5px;
}

.old-price {
  font-size: 8px;
  color: #888888;
  padding-left: 5px;
  text-decoration: line-through;
}

.commission {
  justify-content: space-between;

}

.sale {
  color: #888888;
}

.item .toolbar {
  display: flex;
  flex-direction: row;
  /* border-radius: 0px 0px 8px 8px; */
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 36px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: default;
}
